@import "reset";

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  height: 100vh;
  font: 16px Roboto, sans-serif;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: #000033;
  background: #000033;

  .currencyResult {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 140px;
    box-sizing: border-box;
    padding: 140px 0 20px 0;
    font-size: 32px;
    visibility: hidden;

    &.showResult {
      visibility: visible;
    }

    a {
      text-decoration: none;
      color: inherit;

      &.c-icon {
        width: 36px;
        height: 36px;
        fill: currentColor;
        transition: .2s;
        color: #fff;
      }

      &.c-link--currency:hover {
        color: #fff;
      }

      &.c-link--currency:hover::after {
        background: transparent;
      }

      &.c-link {
        position: relative;
        color: #fff;
      }

      &.c-link:not(:last-of-type) {
        margin-right: 15px;
      }

      &.c-tooltip::before,
      &.c-tooltip::after {
        display: block;
        position: absolute;
        padding-top: 10px;
        opacity: 0;
        transition: .2s;
      }

      &.c-tooltip::before {
        content: '';
        left: calc(50% - 5px);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #fff transparent;
        top: 24px;
      }

      &.c-tooltip::after {
        left: calc(-117px + 50%);
        padding: 6px 12px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        background-color: #000033;
        border: solid 1px #fff;
        width: 200px;
        white-space: nowrap;
        height: 14px;
        content: " ";
      }
      &.c-tooltip:hover::before {
        top: 24px;
      }
      &.c-tooltip:hover::before,
      &.c-tooltip:hover::after {
        opacity: 1;
      }
    }
  }

  .container {
    margin: 80px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    .dropList {
      display: flex;
      flex-direction: row;
    }

    .spaceBetween {
      flex: 1 1 auto;
      text-align: center;
      margin-right: 12px;

      .submit {
        font-size: 20px;
        height: 40px;
        box-sizing: border-box;
        padding: 4px 30px;
        font-family: 'Lato', sans-serif;
        width: 150px;
        border: solid 2px #fff;
        background: transparent;
        color: #fff;
        transition: 0.2s;

        &:focus {
          outline: 0;
        }

        &:hover {
          border: 2px solid #fff;
          background: #fff;
          color: #000033;
          transition: 0.2s;
        }
      }
    }

    .inputVal {
      width: 150px;
      height: 40px;
      font-family: 'Lato', sans-serif;
      color: #fff;
      font-size: 20px;
      background: transparent;
      border: solid white 2px;
      box-sizing: border-box;

      &:focus {
        outline: 0;
      }
    }

    .advancedSelect {
      width: 120px;
      height: 40px;
      position: relative;

      .selectHeader {
        padding: 5px;
        height: 26px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        background: transparent;
        color: #fff;
        border: 2px solid #fff;
        border-bottom: 1px;

        .arrow {
          position: absolute;
          bottom: 60%;
          left: 80%;
          margin-left: -2px;
          border: solid white 0.2px;

          &.collapsed {
            .arrow__lower {
              &:before, &:after {
                top: 0px;
                transform: rotate(-45deg);
              }
              &:after {
                transform: rotate(45deg);
              }
            }
          }

          .arrow__upper, .arrow__lower {
            &:before, &:after {
              content: '';
              position: absolute;
              display: block;
              right: -9px;
              width: 11px;
              height: 2px;
              background: #fff;
              transition: all 0.5s;
            }
          }

          .arrow__upper {
            &:before, &:after {
              top: 0px;
              transform: rotate(-45deg);
            }

            &:after {
              right: inherit;
              left: -9px;
              transform: rotate(45deg);
            }
          }

          .arrow__lower {
            &:before, &:after {
              top: 6px;
              transform: rotate(45deg);
            }

            &:after {
              right: inherit;
              left: -9px;
              transform: rotate(-45deg);
            }
          }
        }
      }

      .dropdown {
        max-height: 0;
        overflow: hidden;
        transition: 0.5s;
        min-height: 0;
        position: absolute;
        text-align: left;
        width: 120px;
        font-size: 20px;
        border-bottom: 2px #fff solid;

        &.show {
          max-height: 250px;
          overflow-y: scroll;
          transition: 0.5s;
          min-height: 250px;
          color: #fff;
        }

        li {
          list-style-type: none;
          padding: 3px 5px;
          background: transparent;
          transition: all 0.4s;
          border: 2px solid #fff;
          border-bottom: 1px;
          color: #fff;

          &:hover {
            background-color: #fff;
            color: #000033;
            transition: all 0.2s;
          }
        }
      }
    }
  }
}

/* For mobile phones: */
@media (max-width: 768px) {
  body {
    display: block;
    input {
      box-sizing: border-box;
    }
    .container {
      display: block;
      flex-direction: column;
      margin: 60px;
      .inputVal {
        width: 100%;
      }
      .spaceBetween {
        margin-right: 0;
        margin-top: 10px;
        .submit {
          width: 100%;
        }
      }
      .dropList {
        .firstDropdown{
          margin-right: 5px;
          }
        .secondDropdown {
          margin-left: 5px;
        }
        .advancedSelect {
          .dropdown {
            width: 100%;
            transition: 0.1s;
            &.show {
              max-height: 128px;
              transition: 0.1s;
              min-height: 128px;
              background-color: #000033;
            }
          }
        }
      }
    }
  }
}




